---
permalink: /index.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julian Ding</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>

<body>

<!--Header-->
{% include header.html %}

<!--Content-->
<main>
<div class="container">
    <div class="profile-section">
        <img class="profile-img" src="assets/placeholder.png" alt="Photo of Julian Ding">
        <div class="profile-info">
            <h1 class="profile-name">Julian Ding</h1>
            <p class="profile-titles">
                Master's Student
                <br>
                <a href="https://web.cs.toronto.edu/">Department of Computer Science</a>
                <br>
                <a href="https://www.utoronto.ca/">University of Toronto</a>
            </p>
            <p class="profile-titles links">
              <img class="site-icon" src="assets/email.webp" alt="Email Logo">
              <a href="mailto:jding@cs.toronto.edu">jding@cs.toronto.edu</a>
              <br>
              <img class="site-icon" src="assets/linkedin.webp" alt="LinkedIn Logo">
              <a href="https://www.linkedin.com/in/julianzding/">linkedin.com/in/julianzding</a>
              <br>
              <img class="site-icon" src="assets/github.png" alt="GitHub Logo">
              <a href="https://github.com/JulianZDing">JulianZDing</a>
            </p>
            
        </div>
    </div>
    <div class="blurb">
        <p>This is a placeholder blurb for now, I'll update it for real later.</p>
        <p>Here's another paragraph for good measure.</p>
    </div>
</div>

<div class="container timeline">

  <div class="reveal">
    <div class="timeline-point"></div>
    <div class="timeline-content start">
      <h3>Master's student at the University of Toronto</h3>
      <h4>Started: September 2026</h4>
      <p>
        Admitted into the Computer Imaging Group in the Department of Computer Science,
        supervised by Professors Aviad Levis, Kyros Kutulakos, and David Lindell.
      </p>
    </div>
  </div>

  <div class="reveal">
    <div class="timeline-point"></div>
    <div class="timeline-content stop">
      <h3>Data Scientist at Demonware</h3>
      <h4>Ended: July 2026</h4>
      <p>Left my position after 3 years and 10 months.</p>
    </div>
  </div>

  <div class="reveal">
    <div class="timeline-point circle"></div>
    <div class="timeline-content right">
      <h3>A divisive normalization brightness model for tone mapping</h3>
      <h4>Publication: June 2025</h4>
      <p>Presented at the Eurographics Symposium on Rendering (EGSR 2025).</p>
    </div>
  </div>

  <div class="reveal">
    <div class="timeline-point circle"></div>
    <div class="timeline-content right">
      <h3>GSpyNetTree: a signal-vs-glitch classifier for gravitational-wave event candidates</h3>
      <h4>Publication: March 2024</h4>
      <p>Publication of ML framework that I contributed to from 2021-22.</p>
    </div>
  </div>

  <div class="reveal">
    <div class="timeline-point"></div>
    <div class="timeline-content start">
      <h3>Software Developer at Demonware</h3>
      <h4>Started: September 2022</h4>
      <p>
        Started as an intermediate software developer (P2) on the Performance Engineering team.
      </p>
    </div>
  </div>

  <div class="reveal">
    <div class="timeline-point circle"></div>
    <div class="timeline-content right">
      <h3>UniMAP: model-free detection of unclassified noise transients in LIGO-Virgo data using the temporal outlier factor</h3>
      <h4>Publication: June 2022</h4>
      <p>Publication of noise detection framework I developed during my NSERC USRA of summer 2021.</p>
    </div>
  </div>

</div>
</main>

<!--Footer-->
{% include footer.html %}

</body>
</html>