<header class="site-header">
    <div class="container">
        <nav class="site-nav">
            <a class="site-title" href="index.html">Julian Ding</a>
            <span class="nav-links">
                <a href="index.html" class="nav-link">about</a>
                <a href="publications.html" class="nav-link">publications</a>
                <a href="assets/cv.pdf" class="nav-link">cv</a>
                <a href="https://tcig.ca/" class="nav-link">group</a>
                |
                <a href="photography.html" class="nav-link">photography</a>
            </span>
        </nav>
    </div>
</header>